@{
    Layout = "_MainLayout";
}
@model List<Group>



<div class="chat" userName="@ViewBag.UserName">
    <div class="chat__container">
        <div class="text2 chat__container__title">Чаты</div>
        <div class="chat__container__items">
            <div class="chat__items__groups _scroll">
                @{
                    if (Model is null)
                    {
                        <div>Покачто нет чатов</div>
                    }
                    foreach (var group in Model)
                    {
                        string chatName;
                        if (ViewBag.UserName == group.FirstUserName)
                        {
                            chatName = group.SecondUserName;
                        }
                        else
                        {
                            chatName = group.FirstUserName;
                        }
                        <div class="text3 chat__groups__item" id="@group.Id" onclick="getChat(@group.Id)">
                            <div class="chat__groups__item__user">@chatName</div>
                            <div class="chat__groups__item__message">
                                @if (group.Messages.Count != 0)
                                {
                                    <p>@group.GetLastMessage().Text</p>
                                }
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="chat__items__content">
                <div class="chat__content__messages _scroll">
                    @{
                        if (ViewBag.CurrentChat is not null)
                        {
                            var chat = (Group)ViewBag.CurrentChat;
                            var messages = chat.Messages;
                            messages.OrderBy(c => c.Time);
                            <div id="@chat.Id" class="chat__info">
                                @foreach (var message in chat.Messages)
                                {
                                    if (message.UserName == ViewBag.UserName)
                                    {
                                        <div class="chat__messages__item">
                                            <div class="chat__messages__item__my">
                                                <div class="text3 chat__messages__item__content">
                                                    @message.Text
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="chat__messages__item">
                                            <div class="chat__messages__item__other">
                                                <div class="text3 chat__messages__item__content">
                                                    @message.Text
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        }
                    }
                    <div class="chat__items__content__input">
                        <div class="text3 chat__input"><input id="message" class="text3" type="text"></div>
                        <div class="chat__input__button"><input class="text3" onclick="send()" type="button" value="Отправить"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/chat.js"></script> 