
@{
    Layout = "_MainLayout";
}
@model IEnumerable<Application>


@{
    if (Model is null)
    {
        <div>
            <p>Покачто нет заявок</p>
        </div>
    }
    else
    {
        <div>
            @foreach (var elem in Model)
            {
            <div class="container" id="@elem.Id">
                <div class="row">
                    <div class="col-6">
                        <img height="150" width="150" src=@elem.Brawler.Img />
                        <p>@elem.Brawler.Name</p>
                    </div>
                    <div class="col-6">
                        <p>@elem.User.Name</p>
                        <p>@elem.CountOfCups</p>
                        <button onclick="deleteApplication(@elem.Id)">Удалить</button>
                    </div>
                </div>
            </div>
            }
        </div>
        <script src="~/js/deleteApplication.js"></script>
    }
}
