@{
    Layout = null;
}
@model User

@if (Model is not null)
{
   <div class="userInfo__content__exit"></div>
            <div class="text2 userInfo__content__title">@Model.Name</div>
            <div class="text3 userInfo__content__text">BrawlStars никнейм: @Model.BrawlAccountName</div>
            <div class="text3 userInfo__content__text">Возраст: @Model.Age</div>
            <div class="text3 userInfo__content__text">Кубки: @Model.CountOfCups</div>
            @if (Model.IsBanned)
            {
            <div class="text3 userInfo__content__text isBaned">Пользователь забанен</div>
            <button id="banButton" class="text3" onclick="unban('@Model.Name')">Разбанить</button>
            }
            else
            {
                 <div class="text3 userInfo__content__text isBaned">Пользователь не забанен</div>
            <button id="banButton" class="text3" onclick="ban('@Model.Name')">Забанить</button>
            }
            <div class="userInfo__content__items">
    @foreach (var application in Model.Applications)
    {
        <div class="admin__content__item" id="application_@application.Id">
                    <div class="admin__item__first">
                        <div class="admin_item__photo">
                            <img height="150" width="150" src="@application.Brawler.Img" />
                        </div>
                        <div class="admin__item__info">
                            <div class="text2 admin__info__title">@application.Brawler.Name</div>
                            <div class="text3 admin__info__cup">Кубков: <span>@application.CountOfCups</span></div>
                            <div class="text3 admin__info__desc">@application.Description</div>
                        </div>
                    </div>
                    <div class="admin__item__control">
                        <div class="text3 admin__control__name">@application.UserName</div>
                        <div class="text3 admin__control__like">Лайков: @application.Likes.Count</div>
                        <button class="text3 admin__control__button" onclick="confirmDelete()">Удалить</button>
                        <button class="text3 admin__control__button__delete" onclick="removeApplication(@application.Id, '@application.UserName')">Удалить</button>
                    </div>
                </div>
    }  
            </div>
}
<script>
 $('.admin__header__item').click(function () {
        let items = $('.admin__content__items');
        $('.admin__header__item').css('border-bottom', '0');
        $(this).css('border-bottom', '3px solid white')
        items.removeClass('_active__adminMenu');
        $(`#${$(this).attr('admin-type')}`).addClass('_active__adminMenu');
    });
 $(".userInfo__content__exit").click(function () {
    if (!$('.userInfo').hasClass('_active')) {
    }
    $(".userInfo").toggleClass("_active");
    $("body").toggleClass("_lock");
    });
</script>