@{
    Layout = null;
}
@model User

@if (Model is not null)
{
    <div>
        <span>username: </span>
        <span>@Model.Name</span>
    </div>
    <div>
        <span>BrawlStars никнейм</span>
        <span>@Model.BrawlAccountName</span>
    </div>
    <div>
        <span>Возраст</span>
        <span>@Model.Age</span>
    </div>
    <div>
        <span>Email</span>
        <span>@Model.Email</span>
    </div>
    <div>
        <span>Количесвто кубков</span>
        <span>@Model.CountOfCups</span>
    </div>
    <div>
        @{
            if (Model.IsBanned)
            {
                <span>Пользователь забанен</span>
                <button id="banButton" onclick="unban('@Model.Name')">Разбанить</button>
            }
            else
            {
                <span>Пользователи не забанен</span>
                <button id="banButton" onclick="ban('@Model.Name')">Забанить</button>
            }
        }
    </div>
    foreach (var application in Model.Applications)
    {
        var id = "application" + application.Id;
        <div class="container" id="@id">
            <div class="row">
                <div class="col-6">
                    <img height="150" width="150" src=@application.Brawler.Img />
                    <p>@application.Brawler.Name</p>
                </div>
                <div class="col-6">
                    <p>@application.UserName</p>
                    <p>@application.CountOfCups</p>
                    <span>@application.Likes.Count</span>
                </div>
                <div>
                    <button onclick="removeApplication(@application.Id, '@application.UserName')">Удалить</button>
                </div>
            </div>
        </div>
    }
}
